<validator name="validateForm">
  <form class="col s12">

    <div class="row">

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="login" type="text" v-model="user.login" v-validate:login="{ required: false, minlength: 4 }" />
        <label for="login">Login</label>
        <div>
          <span class="chip red lighten-5 right" v-if="$validateForm.login.required">Campo requerido</span>
          <span class="chip red lighten-5 right" v-if="$validateForm.login.minlength">Mínimo 4 caracteres</span>
        </div>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" v-model="user.password" v-validate:password="{ required: false, minlength: 4 }" />
        <label for="password">Password</label>
        <div>
          <span class="chip red lighten-5 right" v-if="$validateForm.password.required">Campo requerido</span>
          <span class="chip red lighten-5 right" v-if="$validateForm.password.minlength">Mínimo 4 caracteres</span>
        </div>
      </div>

      <div class="input-field col s12 m3">
        <input type="checkbox" id="createaccount" v-model="user.isNew" />
        <label for="createaccount">Create Account?</label>
      </div>

      <div class="input-field col s12 m9" v-show="user.isNew">
        <input id="name" type="text" v-model="user.name" />
        <label for="name">Your Name</label>
      </div>

    </div>

    </div>

    <div class="input-field col s12">
      <button class="waves-effect waves-light btn right" @click="doLogin" v-if="$validateForm.valid">Enviar</button>
    </div>

  </form>
</validator>